[Desktop Entry]
Categories=Utility
Exec=deepin-phone-master
GenericName=Phone Master
GenericName[ca]=Mestre telefònic
GenericName[cs]=Správce telefonu
GenericName[en_US]=Phone Master
GenericName[fi]=Puhelin Mestari
GenericName[hu]=Telefonkezelő
GenericName[it]=Gestore smartphone
GenericName[ko]=휴대폰 관리자
GenericName[nl]=Smartphonebeheer
GenericName[pl]=Phone Master
GenericName[pt]=Gestor de Telefone
GenericName[pt_BR]=Phone Master
GenericName[sq]=Phone Master
GenericName[sr]=Владар Телефона
GenericName[tr]=Telefon Yöneticisi
GenericName[uk]=Phone Master
GenericName[zh_CN]=手机助手
GenericName[zh_HK]=手機助手
GenericName[zh_TW]=手機助手
Icon=deepin-phone-master
Name=Deepin Phone Master
Name[ca]=Mestre telefònic del Deepin
Name[cs]=Deepin správce telefonu
Name[en_US]=Deepin Phone Master
Name[fi]=Deepin Puhelin Mestari
Name[hu]=Deepin Telefonkezelő
Name[it]=Gestore smartphone di Deepin
Name[ko]=Deepin 휴대폰 관리자
Name[nl]=Deepin Smartphonebeheer
Name[pl]=Deepin Phone Master
Name[pt]=Gestor de Telefone Deepin
Name[pt_BR]=Deepin Phone Master
Name[sq]=Deepin Phone Master
Name[sr]=Дипин Владар Телефона
Name[tr]=Deepin Telefon Yöneticisi
Name[uk]=Deepin Phone Master
Name[zh_CN]=手机助手
Name[zh_HK]=Deepin 手機助手
Name[zh_TW]=Deepin 手機助手
StartupNotify=true
Type=Application
Version=1.0
X-Deepin-DEComponent=true
X-Deepin-Vendor=user-custom
